
/* colors */
$bg: rgba(255, 255, 255, 0.7);
$text: #666;
$option-hover: #cc3c09;


/* general */
body {
  margin: 0;
  background-color: $bg;
  color: $text;
}

h1,
h2,
h3 {
  font-family: Raleway;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0;
}

h1,
h2 {
  font-weight: 600;
  background: rgba(255, 255, 255, 0.7);
}

h3 {
  font-size: .9rem;
}

a {
  color: $text;
  text-decoration: none;
}

form {
  display: flex;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.7);
}

input {
  background-color: transparent;
}


/* helpers - use with @extend */
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.default-text {
  font-family: Raleway;
  font-size: 2em;
  color: $text;
  font-weight: 600;
}

.default-transition {
  transition: 2s ease;
}

.wish-city-height {
  height: 150px;
  background: $bg;
}

/* Search field */
.search-box {
  @extend .default-text;
  text-transform: Capitalize;
	padding: 10px;
  border: 0;
  outline: 0;
}

.search-box:-webkit-autofill,
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fff inset;
}

/* Background image for cities */
.img-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
  transition:  0.5s ease-in;
	-webkit-transition:  0.5s ease-in;
	-moz-transition:  0.5s ease-in;
	-o-transition:  0.5s ease-in;
}

.pic-author {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 2px solid $bg;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

//Structural elements
.top-nav {
  display: flex;
  width: 100%;
}

// Current city
.current-city {
  width: 50%;
  display: flex;

  h2 {
    width: 100%;
    text-align: right;
  }
}

/* Option section - select desired weather type */
.option {
  @extend .center-flex;
  flex-direction: column;
  height: 100px;
  width: -webkit-fill-available;
  background-color: $bg;

  i {
    font-size: 2.2rem;
  }

  h3 {
    font-size: .9rem;
  }
}

/* Gradual color transition when for hovered/active options */
.option:hover,
.option:active {
  transition: color 0.5s ease-out;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	color: $option-hover;
}

/* Wish list */
.wish-city {
  width: 100%;

  .img-bg {
    @extend .wish-city-height;
  }
}

/* Show overlay when hovering a wished for city */
.wish-city:hover {

  .overlay {
    @extend .default-transition;
    opacity: .9;
  }

  .left-hand-of-darkness {
    opacity: 0;
  }
}

/* Replace left hand text with right hand text on wish city hover */
.right-hand-of-darkness {
  flex-grow: 1;
  text-align: -webkit-right;
}

/* Overlay that only shows on wish city hover */
.overlay {
  @extend .center-flex;
  @extend .default-transition;
  position: absolute;
  width: 100%;
  height: 150px;
  width: 100%;
  opacity: 0;
  cursor: pointer;

  h3 {
    flex-grow: 4;
    text-align: center;
  }
}
