body {
  margin: 0;
  background-color: #121b28;
}

a {
  text-decoration: none;
}

h1,
h2 {
  color: #fff;
  font-weight: 600;
  font-family: Raleway;
  width: fit-content;
  padding: 10px;
  background: #121b28;
}

/* helpers */
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-pic {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-bg {
  position: absolute;
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  z-index: -1;
}

.card:hover .overlay {
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  opacity: .9;
}

.card:hover .left-hand-of-darkness {
  opacity: 0;
}

.right-hand-of-darkness {
  flex-grow: 1;
  text-align: -webkit-right;
}

.card:hover .img-bg {
  opacity: 0;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 150px;
  width: 100%;
  opacity: 0;
  transition: .8s ease;
  background-color: #121b28;
  cursor: pointer;
}

.overlay h2 {
  flex-grow: 4;
  text-align: center;
  font-size: 1rem;
  background-color: #121b28;
}


/* elements */

.show-me {
  font-family: Raleway;
  color: #fff;
  font-size: 1.3rem;
  padding: 15px;
  width: -webkit-fill-available;
}

.city,
.cities {
  width: 100%;
  color: #fff;
}

.city {
  position: relative;
  height: 300px;
}

.city h1{
  position: relative;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option {
  height: 100px;
  font-size: 2.5rem;
  width: -webkit-fill-available;
  color: #fff;
}

.option:hover,
.option:active {
  transition: color 0.5s ease-out;
	-webkit-transition: color 0.5s ease-out;
	-moz-transition: color 0.5s ease-out;
	-o-transition: color 0.5s ease-out;
	color: #cc3c09;
}
