<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.daresaydigital.presentation">

    <application android:theme="@style/Theme.Daresay">

        <activity
            android:name=".feature.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/Theme.Daresay.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".feature.main.MainActivity"
            android:screenOrientation="portrait"
            />

        <activity
            android:name=".feature.movie_details.MovieDetailsActivity"
            android:screenOrientation="portrait"
            />

    </application>
</manifest>