/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.wrapper {
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    margin: auto;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left:20px;
    width: 50%;
    height: 50%;
    color: white;
    padding: 20px;
    display: grid;
    grid-gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    grid-template-rows:repeat(auto-fit, minmax(3, 1fr));
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    padding: 1.5rem 2rem;
    grid-template-areas: 
    "a a";
    align-content: start;
}

.info{
    grid-area:a;
    height: 300px;
    font-size: 25px
}

.wind{
    grid-column: 1 / 2;
    grid-row: 2;    
}
.humid{
    grid-column: 2 / 2;
    grid-row: 2;   
}

img{
    vertical-align: middle;
    height: auto;
    width: 50px;
    float: middle;
}

p{
    font-size: 30px;
    text-align: center;
}