@font-face {
  font-family: 'Barlow Regular';
  font-style: normal;
  font-weight: 400;
  /* Fonts must be referenced from an absolute location, as they will be
  requested from each individual website where the extension is used.
  The first part of the URL after the scheme will be replaced by the
  extension ID assigned by Chrome.  */
  src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Barlow Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Quicksand Regular';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/Quicksand Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'WeatherIcons Regular';
  font-style: normal;
  font-weight: 400;
  src: url('chrome-extension://__MSG_@@extension_id__/assets/fonts/WeatherIcons Regular.woff2') format('woff2');
}

#wwise-anchor{
  position:relative;
  visibility:hidden;
  transition: visibility 0ms linear 300ms;
  overflow:visible;
}

#wwise-tooltip{
  position:absolute;
  color: rgba(255, 255, 255, 1);
  bottom: 1.5em;
  user-select: none;
  width:300px;
  padding: 24px 24px 42px;
  font-size: 16px;
  font-family: 'Barlow Regular', sans-serif;
  left: 0;
  z-index: 1000px;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.8));
}

#wwise-tooltip:after{
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 20% 95%, 15% 100%, 10% 95%, 0 95%);
  z-index:-1;
}

#wwise-tooltip h1,
#wwise-tooltip h2,
#wwise-tooltip h3{
  font-family: 'Quicksand Regular', sans-serif;
  font-weight: normal;
}

#wwise-tooltip h1{
  font-size: 2em;
  margin:0 0 0.8em;
  line-height:1.2em;
}

#wwise-tooltip h2{
  font-size: 1.5em;
  margin:0.5em 0;
}

#wwise-tooltip h3{
  font-size: 1.25em;
  margin:0.5em 0;
}

#wwise-anchor.visible{
  visibility: visible;
  transition: visibility 0ms linear 0ms;
}

#wwise-anchor #wwise-tooltip{
  opacity: 0;
  animation: fade-out 300ms;
}

#wwise-anchor.visible #wwise-tooltip{
  opacity: 1;
  animation: fade-in 300ms;
}

#wwise-tooltip .conditions-icon{
  font-family: 'WeatherIcons Regular';
  margin: 0 20px 0 0;
}

.minmax span{
  padding: 0 12px 0 0;
  font-family: 'Barlow Regular', sans-serif;
  font-size: 1em;
}

.minmax span + span{
  border-left: solid 1px rgba(255, 255, 255, 1);
  padding: 0 0 0 12px;
}

.temp:after{
  content:'˚';
}

.max:before{
  content:'Max ';
}

.min:before{
  content:'Min ';
}

#wwise-tooltip .not-found{
  font-family: 'Barlow Regular', sans-serif;
  font-size: 1.6em;
  line-height: 1.2em;
  text-align: center;
}

@keyframes fade-in {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

@keyframes fade-out {
  from {
    opacity:1;
  }

  to {
    opacity:0;
  }
}

/* Conditions-based styles */
#wwise-tooltip.clear:after{
  background: -webkit-linear-gradient(top, rgba(7,177,234,1) 0%,rgba(204,242,255,1) 100%); /* Chrome10-25 */
background: linear-gradient(to bottom, rgba(7,177,234,1) 0%,rgba(204,242,255,1) 100%); /* Chrome26+ */
}

#wwise-tooltip.cloudy:after{
  background: -webkit-linear-gradient(top, rgba(140,158,155,1) 0%,rgba(224,228,229,1) 100%); /* Chrome10-25 */
  background: linear-gradient(to bottom, rgba(140,158,155,1) 0%,rgba(224,228,229,1) 100%); /* Chrome26+ */
}

#wwise-tooltip.stormy:after{
  background: -webkit-linear-gradient(top, rgba(36,44,45,1) 0%,rgba(139,142,142,1) 100%); /* Chrome10-25 */
  background: linear-gradient(to bottom, rgba(36,44,45,1) 0%,rgba(139,142,142,1) 100%); /* Chrome26+ */
}

#wwise-tooltip.smoke:after{
  background: -webkit-linear-gradient(top, rgba(107,98,83,1) 0%,rgba(158,158,134,1) 100%); /* Chrome10-25 */
  background: linear-gradient(to bottom, rgba(107,98,83,1) 0%,rgba(158,158,134,1) 100%); /* Chrome26+ */
}
