<html>
  <head>
    <meta charset="utf-8">
    <title>My Weather</title>
  </head>
  <body>
    <div class="container-fluid h-100" id="root"></div>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.GOOGLE_API_KEY %>&libraries=places"></script>
  </body>
</html>
